stages:
- stage: unit_test_1
  displayName: Unit test group 1
  jobs:
  - job:
    strategy:
      matrix:
        Python27-Linux:
          python.version: '2.7'
          vmImage: ubuntu-latest
        Python37-Linux:
          python.version: '3.7'
          vmImage: ubuntu-latest
        Python27-Windows:
          python.version: '2.7'
          vmImage: windows-latest
        Python37-Windows:
          python.version: '3.7'
          vmImage: windows-latest
        Python27-MacOS:
          python.version: '2.7'
          vmImage: macos-latest
        Python37-MacOS:
          python.version: '3.7'
          vmImage: macos-latest
    pool:
      vmImage: $[ variables.vmImage ]
    steps:
    - template: steps/unit-tests.yml

- stage: unit_test_2
  displayName: Unit test group 2
  jobs:
  - job:
    strategy:
      matrix:
        Python34-Linux:
          python.version: '3.4'
          vmImage: ubuntu-latest
        Python35-Linux:
          python.version: '3.5'
          vmImage: ubuntu-latest
        Python36-Linux:
          python.version: '3.6'
          vmImage: ubuntu-latest
        Python34-Windows:
          python.version: '3.4'
          vmImage: windows-latest
        Python35-Windows:
          python.version: '3.5'
          vmImage: windows-latest
        Python36-Windows:
          python.version: '3.6'
          vmImage: windows-latest
        Python34-MacOS:
          python.version: '3.4'
          vmImage: macos-latest
        Python35-MacOS:
          python.version: '3.5'
          vmImage: macos-latest
        Python36-MacOS:
          python.version: '3.6'
          vmImage: macos-latest
    pool:
      vmImage: $[ variables.vmImage ]
    steps:
    - template: steps/unit-tests.yml

- stage: integration_test
  displayName: Integration test
  jobs:
  - job:
    strategy:
      matrix:
        Python27-Linux:
          python.version: '2.7'
          vmImage: ubuntu-latest
        Python37-Linux:
          python.version: '3.7'
          vmImage: ubuntu-latest
        Python27-MacOS:
          python.version: '2.7'
          vmImage: macos-latest
        Python37-MacOS:
          python.version: '3.7'
          vmImage: macos-latest
    pool:
      vmImage: $[ variables.vmImage ]
    steps:
    - template: steps/integration-tests.yml

  - job:
    strategy:
      matrix:
        Python27-Windows:
          python.version: '2.7'
          vmImage: windows-latest
        Python37-Windows:
          python.version: '3.7'
          vmImage: windows-latest
    pool:
      vmImage: $[ variables.vmImage ]
    steps:
    - template: steps/integration-tests-windows.yml

- stage: package
  displayName: Package
  jobs:
  - job:
    strategy:
      matrix:
        Linux:
          vmImage: ubuntu-latest
        Windows:
          vmImage: windows-latest
        MacOS:
          vmImage: macos-latest
  - template: jobs/package.yml
    parameters:
      vmImage: $[ variables.vmImage ]
